# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Intro to Jupyter Lab
* Python coding
* Covering Data Science Tools

Some of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. R
4. Julia
5. JavaScript
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
|--------------------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This is a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [37]:
# This will convert 200 minutes to hours by diving by 60

round(200/60,2)

3.33

## Author 
 Ruben